In [ ]:
lista_osob = [
    {'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 30, 'miasto': 'Bydgoszcz', 'branża': 'Marketing', 'płeć': 'Mężczyzna'},
    {'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 25, 'miasto': 'Warszawa', 'branża': 'HR', 'płeć': 'Kobieta'},
    {'imie': 'Konrad', 'nazwisko': 'Grzybowski', 'wiek': 26, 'miasto': 'Wroclaw', 'branża': 'IT', 'płeć': 'Mężczyzna'},
    {'imie': 'Jan', 'nazwisko': 'But', 'wiek': 55, 'miasto': 'Płock', 'branża': 'Logistyka', 'płeć': 'Mężczyzna'},
    {'imie': 'Janina', 'nazwisko': 'Kopała', 'wiek': 47, 'miasto': 'Radom', 'branża': 'Produkcja', 'płeć': 'Kobieta'},
    {'imie': 'Janusz', 'nazwisko': 'Kowalski', 'wiek': 56, 'miasto': 'Sopot', 'branża': 'Hotelarstwo', 'płeć': 'Mężczyzna'},
    {'imie': 'Małgorzata', 'nazwisko': 'Łopata', 'wiek': 23, 'miasto': 'Sandomierz', 'branża': 'Sprzedaż', 'płeć': 'Kobieta'},
    {'imie': 'Leszek', 'nazwisko': 'Wesołowski', 'wiek': 36, 'miasto': 'Poznań', 'branża': 'Sprzedaż', 'płeć': 'Mężczyzna'}
]

def mlodszy_od_30(osoba):
    return osoba['wiek'] < 30

mlodzi = filter(mlodszy_od_30, lista_osob)

print(*mlodzi)

def postarz_o_rok(osoba):
    osoba['wiek'] += 1
    return osoba

starsi = map(postarz_o_rok, lista_osob)

def zmiana_miasta(osoba):
    osoba['miasto'] += 'Wrocław'
    return osoba

miasta = map(zmiana_miasta, lista_osob)

print(*starsi)

In [ ]:
def key_nazwiskoimie(osoba):
    return osoba['nazwisko'], osoba['imie']

for osoba in sorted(lista_osob, key=key_nazwiskoimie):
    print(osoba['nazwisko'], osoba['imie'])

In [ ]:
def key_nazwiskoimie(osoba):
    return osoba['nazwisko'], osoba['imie']

for osoba in sorted(lista_osob, key=lambda osoba: (osoba['nazwisko'] + osoba['imie']) ):
    print(osoba)

In [4]:
lista_osob = [
    {'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 25},
    {'imie': 'Jan', 'nazwisko': 'Nowak', 'wiek': 35},
    {'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 36},
    {'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 28}
]

def mlodszy_od_30(osoba):
    return osoba['wiek'] < 30

mlodzi = filter(mlodszy_od_30, lista_osob)

print(*mlodzi)
print('*'*40)

mlodzi2 = filter(lambda osoba: osoba['wiek'] < 30, lista_osob)

print(*mlodzi2)
print('*'*40)

def postarz_o_rok(osoba):
    osoba['wiek'] += 1
    return osoba

starsi = map(postarz_o_rok, lista_osob)

print(*starsi)
print('*'*40)

starsi2 = map(lambda osoba: {'imie': osoba['imie'], 'nazwisko': osoba['nazwisko'], 'wiek': osoba['wiek']+1}, lista_osob)
print(*starsi2)

{'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 25} {'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 28}
****************************************
{'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 25} {'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 28}
****************************************
{'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 26} {'imie': 'Jan', 'nazwisko': 'Nowak', 'wiek': 36} {'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 37} {'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 29}
****************************************
{'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 27} {'imie': 'Jan', 'nazwisko': 'Nowak', 'wiek': 37} {'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 38} {'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 30}

In [5]:
def key_wiek(osoba):
    return osoba['wiek']

for osoba in sorted(lista_osob, key=key_wiek):
    print(osoba)
    
print('*'*40)
# sortowanie po (nazwisko, imie)

for osoba in sorted(lista_osob, key=lambda osoba: osoba['wiek']):
    print(osoba)
    
print('*'*40)

for osoba in sorted(lista_osob, key=lambda osoba: (osoba['nazwisko'], osoba['imie'])):
    print(osoba)

{'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 26}
{'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 29}
{'imie': 'Jan', 'nazwisko': 'Nowak', 'wiek': 36}
{'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 37}
****************************************
{'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 26}
{'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 29}
{'imie': 'Jan', 'nazwisko': 'Nowak', 'wiek': 36}
{'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 37}
****************************************
{'imie': 'Maria', 'nazwisko': 'Kowalska', 'wiek': 29}
{'imie': 'Stefan', 'nazwisko': 'Mierzyński', 'wiek': 26}
{'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 37}
{'imie': 'Jan', 'nazwisko': 'Nowak', 'wiek': 36}

In [19]:
import datetime


class Person:

    def __init__(self, name, second_name, gender, year_brth, address):
        self.name = name
        self.second_name = second_name
        self.gender = gender
        self.year_brth = year_brth
        self.address = address

    def get_name(self):
        return self.__name
    def get_second_name(self):
        return self.__second_name
    def gender(self):
        return self.__gender()
    def year_brth(self):
        return self.__year_brth
    def address(self):
        return self.__address

    def get_gender(self):
        if self.gender:
            return 'mężczyzna'
        else:
            return 'kobieta'

    def ile_lat(self):
        return datetime.date.today().year - self.year_brth

    def __str__(self):
        return (self.name + ' ' + self.second_name + ', płeć: ' + self.get_gender() + ', wiek: '
                + str(self.ile_lat()) + ' lat')


ivan = Person('Ivan', 'Konoval', True, 1998, 'Rodziewiczówny 7/7, 50-000 Wrocław')
julia = Person('Julia', 'Wójcik', False, 2000, 'Ulanowskiego 16/2')
grzegorz = Person('Grzegorz', 'Kosiak', True, 1988, 'Sucha 1')
janusz = Person('Janusz', 'Abramowicz', True, 1700, 'Swobodna 70/22')
wiciu = Person('Wiktor', 'Rak', True, 2021, 'Plac Wolności 1')

while True:
    exit1 = input('Wyszukać osobę? ')
    if exit1.upper() == 'TAK' or exit1.upper() == "YES" or exit1.upper() == "T" or exit1.upper() == "Y":
        try:
            exit2 = input('Wpisz imię wyszukiwanej osoby: ')
            if exit2.upper() == 'IVAN':
                print(ivan.__str__())
            elif exit2.upper() == 'JULIA':
                print(julia.__str__())
            elif exit2.upper() == 'GRZEGORZ':
                print(grzegorz.__str__())
            elif exit2.upper() == 'JANUSZ':
                print(janusz.__str__())
            elif exit2.lower() == 'wiciu':
                print(wiciu.__str__())
            else:
                print('brak osoby')
        except Exception:
            print(Exception.__name__)
    else:
        print('Koniec wyszukiwania\n')
        break

Wyszukać osobę? t
Wpisz imię wyszukiwanej osoby: k
brak osoby
Wyszukać osobę?
Koniec wyszukiwania

In [24]:
class Osoba:
    def __init__(self, name):
        self.__set_name(name)
    
    def __set_name(self, name):
        self.__name = name if name != '' else 'NN'
        
    def __get_name(self):
        return self.__name
    
    name = property(__get_name, __set_name)
    
    def __str__(self):
        return f"Obywatel {self.__get_name()}"
    
os1 = Osoba('Adam')
print(os1)
print(os1.name)
os1.name = 'Ewa'
print(os1)

Obywatel Adam
Adam
Obywatel Ewa